# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
DOCUMENTATION/characters/applejack.txt
DOCUMENTATION/characters/discord.txt
DOCUMENTATION/characters/fluttershy.txt
DOCUMENTATION/characters/pinkie_pie.txt
DOCUMENTATION/characters/princess_cadance.txt
DOCUMENTATION/characters/princess_celestia.txt
DOCUMENTATION/characters/princess_luna.txt
DOCUMENTATION/characters/rainbow_dash.txt
DOCUMENTATION/characters/rarity.txt
DOCUMENTATION/characters/spike.txt
DOCUMENTATION/characters/twilight_sparkle.txt
